<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rabina Roka Official Website</title>
    <title>Rabina Roka - Web developer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">

    
  <div class = "sidebar sidebarGo" style="transition: transform 1s ease in ;">
     
        <nav>
            <ul>
                <li> <a href="/">Home</li>
                <li><a  href="/intro.html">My introduction</a></li>
                <li><a href="/linkedln.html"> Linkedln</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="/blog.html">Blog</a></li>
                <li><a href="/contact">Contact Me</a></li>
                <a href="https://www.facebook.com/profile.php?id=100068678105777" class="facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.linkedin.com/in/rabina-roka-b39aa1248/" class="linkedin"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/RabinaRoka" class="github"></a><i class="fab fa-github"></i></a>
            </ul>
            <div class="copyright py-4 text-center text-black">
              <div class="copy"><small>Copyright &copy; 2023 <br/>
                  by Rabina Roka</small></div>
          </div>
        </nav>
    </div>   
    <div class = "main" >
      <div class ='hamburger'>
        <img class="ham" src="/static/hamburger.png" alt="" width = "23">
        <img class="cross" src="/static/cross.png" alt="" width ="23" >

    </div>
        <div class = "contactform">
            <form method="post">
                {% csrf_token %}
              <h1> Marksheet </h1>
              <div class="mb-3">
                <label>Subject1 </label>      <!--for text field-->
                <input type="text" name="Subject1" class="form-control"/>   <!--to apply bootstrap class-->               
                <label>Subject2 </label>      <!--for text field-->
                <input type="text" name="Subject2" class="form-control"/>   <!--to apply bootstrap class-->               
                <label>Subject3 </label>      <!--for text field-->
                <input type="text" name="Subject3" class="form-control"/>   <!--to apply bootstrap class-->               
                <label>Subject4 </label>      <!--for text field-->
                <input type="text" name="Subject4" class="form-control"/>   <!--to apply bootstrap class-->               
                <label>Subject5 </label>      <!--for text field-->
                <input type="text" name="Subject5" class="form-control"/>   <!--to apply bootstrap class-->               
                
                <button type="submit" class="btn btn-sm">Marksheet</button><br>
                <label>Total </label>      <!--for text field-->
                <input type="text" value="{{total}}" class="form-control"/>   <!--fetching data and passing key-->               
                
                <label>Percentage </label>      <!--for text field-->
                <input type="text" value="{{per}}" class="form-control"/>   <!--fetching data and passing key "per"--> 

                <label>Division</label>      <!--for text field-->
                <input type="text" value="{{div}}" class="form-control"/> <!--PASSING C-->
              </form>
            </div>
    </div>
</div>  
<script src="/static/script.js"></script>     
</body>
</html>